@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Roboto:ital@0;1&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}
*{
    margin: 0;
    padding: 0;
}
nav{
    font-family: "Varela Round", sans-serif;

}
nav ul{
    display:flex;
    align-items: center;
    list-style-type: none;
    height: 60px;
    background-color: black;
    color: antiquewhite;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;

}
.container{
    min-height: 80.2vh;
}
nav ul li{
    padding: 0px 10px;
}
.brand img{
    width: 40px;
    padding:0px 10px 0px 0px;
}
.bottom{
    position: sticky;
    height: 130px;
    color: aliceblue;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   

}
#myprogressbar{
    width: 80vw;
}
.icons i{
    padding: 10px 20px;
    cursor: pointer;
}